.Green{
    background-color: rgb(231, 136, 12);
    color: rgb(0, 255, 13);

}

#Virat{
    color: rgb(255, 251, 0);
background-color: rgb(34, 184, 134) ;
}
#Rohit{
    color: blueviolet;
    background-color: black;
}